// font-family: "Montserrat", sans-serif;
/* font-family: "Montserrat Subrayada", sans-serif; */
// font-family: 'Cardo', serif;

@import "./variables.scss";
@import "./mixins.scss";
@import "./normalize.scss";
@import "./breakpoints.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Cardo:400i&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text;
  background: $color-background;
  font-family: $font-text;
  font-size: ($base-size * 1.3);
  overflow-y: scroll;
  max-width: 100vw;
}
