$color-text-dark: #111;
$color-text: #302f2f;
$color-background: #fff;
$color-div-background: #808080;
$color-details: #e75480;

$font-capital-text: "Cardo", serif;
$font-text: "Montserrat", sans-serif;
$font-titles: "Montserrat Subrayada", sans-serif;

$base-size: 14px;

$phone-text-size: 15.2px;
$transition: all 0.2s ease-in-out;
