$color-text-dark: #111;
$color-text: #302f2f;
$color-text-light: #737373;
$color-background: #fff;
$color-yellow: #ffde59;
$color-grey: #a6a6a6;

$font-header: "Hammersmith One", sans-serif;
$font-text: "Montserrat", sans-serif;
$font-footer: "Open Sans", sans-serif;

$radius: 5px;
$base-size: 14px;
$transition: all 0.2s ease-in-out;
