@import "../global.scss";

.header {
  padding: 0 2vw;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  background-color: white;
  box-shadow: 0 3px 10px rgba(214, 214, 214, 0.25);
  z-index: 999;
}

.button {
  float: right;
  border: none;
  background-color: transparent;
  margin: 0px 0.8vw;
  text-transform: uppercase;
  letter-spacing: 9.75px;
  font-size: 13px;
  height: 12vh;
}

button:hover {
  text-decoration: underline;
}
