@import "../global.scss";

.header {
  margin-top: 5vh;
  position: relative;
  float: right;
  box-sizing: border-box;
  height: 18vh;
  width: 100vw;
}

.button {
  float: right;
  border: none;
  background-color: transparent;
  margin: 0 1.8vw;
}

button:hover {
  text-decoration: underline;
}
// .header {
//   max-width: 1150px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   padding: 0 15px;
//   background-color: $color-background;
//   z-index: 99;
//   @include mobile-large {
//     border-bottom: 6px solid $color-background;
//     transition: 0.1s ease-in-out;
//   }
//   @include tablet-large {
//     padding: 0 25px;
//   }
//   @include laptop {
//     padding: 0;
//   }
// }
// .title {
//   width: 85%;
//   display: flex;
//   flex-direction: column;
//   text-transform: uppercase;
//   position: relative;
//   margin-top: 10px;
//   padding: 8px 0 8px 8px;
//   border-left: 6px solid $color-yellow;
//   border-bottom: 6px solid $color-yellow;
//   z-index: 99;
//   @include mobile-large {
//     width: 100%;
//     margin-top: 15px;
//     padding: 8px 0 8px 15px;
//   }
//   &_name {
//     font-family: $font-header;
//     font-size: $base-size * 1.5;
//     letter-spacing: 2px;
//     line-height: 1;
//     @include mobile-large {
//       font-size: $base-size * 2.2;
//     }
//     @include tablet-small {
//       font-size: $base-size * 2.5;
//     }
//     @include tablet-large {
//       letter-spacing: 3px;
//     }
//     a {
//       color: $color-text-dark;
//     }
//     a:hover {
//       color: $color-text-dark !important;
//     }
//   }
//   &_subtitle {
//     font-size: $base-size * 0.6;
//     font-weight: 600;
//     letter-spacing: 2px;
//     @include mobile-large {
//       font-size: $base-size * 0.9;
//     }
//     @include tablet-large {
//       letter-spacing: 3px;
//     }
//   }
//   &_hamburger {
//     position: absolute;
//     right: -18%;
//     top: 0;
//     height: 45px;
//     width: 45px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//     padding: 6px;
//     margin-bottom: 4px;
//     border-top: 6px solid $color-yellow;
//     border-right: 6px solid $color-yellow;
//     @include mobile-large {
//       display: none;
//     }
//     .hamburger_line {
//       height: 3px;
//       width: 26px;
//       background: $color-text-dark;
//       transition: $transition;
//       border-radius: 2px;
//     }
//     .hamburger_top {
//       transform: none;
//       transform-origin: left top;
//       margin-bottom: 5px;
//       transition: $transition;
//       &--open {
//         transform: translateY(3px) rotate(45deg);
//       }
//     }
//     .hamburger_middle {
//       opacity: 1;
//       transform: none;
//       transition: $transition;
//       &--open {
//         opacity: 0;
//         transform: translateX(-10px);
//       }
//     }
//     .hamburger_bottom {
//       transform: none;
//       transform-origin: left top;
//       margin-top: 5px;
//       transition: $transition;
//       &--open {
//         transform: translateY(-3px) rotate(-45deg);
//       }
//     }
//   }
//   &_social {
//     display: none;
//     position: absolute;
//     top: 40px;
//     right: 30px;
//     width: 170px;
//     background: white;
//     @include mobile-large {
//       display: block;
//     }
//     @include tablet-small {
//       right: 30px;
//       top: 45px;
//       width: 191px;
//     }
//     @include tablet-large {
//       right: 50px;
//     }
//     a {
//       color: $color-yellow;
//       font-size: $base-size * 2.5;
//       margin: 10px;
//       @include tablet-small {
//         margin: 15px;
//       }
//       &:hover {
//         @include tablet-large {
//           transition: $transition;
//           color: $color-grey;
//         }
//       }
//     }
//   }
// }

// .header--scroll {
//   padding: 0;
//   transition: border 0.3s ease-in-out;
//   @include mobile-large {
//     top: -95px;
//     padding: 0 15px;
//     border-bottom: 6px solid $color-grey;
//     transition: 0.3s ease-in-out;
//   }
//   @include tablet-small {
//     top: -100px;
//     transition: 0.3s ease-in-out;
//   }
//   @include tablet-large {
//     top: -105px;
//     padding: 0 25px;
//     transition: 0.3s ease-in-out;
//   }
//   @include laptop {
//     padding: 0;
//   }
//   .title {
//     width: 100%;
//     border-bottom: 4px solid $color-grey;
//     border-left: none;
//     padding: 8px 29px;
//     transition: border 0.3s ease-in-out;
//     @include mobile-large {
//       padding: 8px 0 8px 15px;
//       border-left: 6px solid $color-yellow;
//       border-bottom: 6px solid $color-yellow;
//     }
//     &_hamburger {
//       right: 16px;
//       border-color: $color-background;
//     }
//   }
// }

// .menu {
//   position: absolute;
//   left: -110vw;
//   width: 100vw;
//   z-index: 98;
//   text-align: right;
//   background-color: $color-background;
//   box-shadow: 0px 20px 20px -5px rgba(17, 17, 17, 0.3);
//   border-bottom: 6px solid $color-yellow;
//   transition: $transition;
//   @include mobile-large {
//     width: 100%;
//     position: relative;
//     left: 0;
//     padding: 0;
//     border-bottom: none;
//     transition: none;
//     box-shadow: none;
//   }
//   &_list {
//     list-style: none;
//     padding: 10px 20px 10px 0;
//     margin: 0;
//     @include mobile-large {
//       display: flex;
//       justify-content: space-evenly;
//       padding: 0;
//       padding-top: 10px;
//     }
//     @include tablet-large {
//       justify-content: center;
//       padding: 18px 0 10px 0;
//     }
//   }
//   &_item {
//     padding: 4px;
//     margin: 15px 0;
//     font-weight: 600;
//     text-transform: uppercase;
//     @include tablet-large {
//       margin: 10px 20px;
//     }
//     a {
//       border-left: 6px solid $color-background;
//       padding: 5px 0 5px 20px;
//       @include mobile-large {
//         border-left: none;
//         border-bottom: 5px solid $color-background;
//         margin: 10px 0;
//         font-size: $base-size * 1.1;
//         padding-left: 0;
//       }
//       @include tablet-large {
//         font-size: $base-size * 1.3;
//         padding-bottom: 12px;
//         border-bottom: 5px solid $color-background;
//       }
//       &:hover {
//         @include tablet-large {
//           transition: $transition;
//           padding-bottom: 4px;
//           border-bottom: 5px solid $color-yellow;
//         }
//       }
//       &.active {
//         border-left: 6px solid $color-yellow;
//         @include mobile-large {
//           border-left: none;
//           border-bottom: 5px solid $color-yellow;
//         }
//         @include tablet-large {
//           border-bottom-color: $color-yellow;
//           padding-bottom: 4px;
//         }
//       }
//     }
//   }
// }
// .menu--open {
//   left: 0;
// }
