@import "../global.scss";

@keyframes appearDiv {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  @include media("<=phone") {
    padding-top: 0;
  }
  animation: appearDiv 6s ease;
  padding-top: 0;
}

.section {
  @include media("<=phone") {
    padding-top: 8vh;
  }
  max-width: max-content;
  margin: 0rem auto;
  position: relative;
  padding-top: 14vh;
}

.sectionTitle {
  @include media("<=phone") {
    width: 100vw;
  }
  display: inline-block;
  width: 16em;
  position: relative;
  vertical-align: top;
  font-family: $font-titles;
}

.content {
  @include media("<=phone") {
    width: 80vw;
  }
  display: inline-block;
  width: 46em;
  position: relative;
  height: auto;
}

.content::after {
  @include media("<=phone") {
    width: 28vw;
  }
  content: "";
  display: block;
  padding-top: 14px;
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 0px;
  border-bottom: 1px solid black;
}

.contentTitle {
  @include media("<=phone") {
    margin-top: 0.8rem;
  }
  font-family: $font-capital-text;
  font-size: 1.8rem;
  font-weight: lighter;
}

.aboutText {
  @include media("<=phone") {
    padding: 0;
    width: 80vw;
  }
  display: inline-block;
  width: 25rem;
  padding: 0 5rem 1rem 0;
}

.profileImg {
  @include media("<=phone") {
    margin-bottom: 20px;
  }
  display: inline-block;
  width: 16rem;
  box-shadow: 0 3px 10px #6a6969;
}

.projectDiv {
  @include media("<=phone") {
    margin: 10px auto;
  }
  display: inline-block;
  min-height: 100px;
  width: 16rem;
  margin: 10px;
  box-shadow: 0 3px 10px rgba(214, 214, 214, 1);
  padding: 10px;
  vertical-align: top;
}

.skillsIcon {
  @include media("<=phone") {
    height: 3.8rem;
  }
  height: 4rem;
}

div.skillsDiv:nth-child(2) {
  @include media("<=phone") {
    margin: 0 auto;
    width: 75vw;
  }
}

.skillsDiv::after {
  @include media("<=phone") {
    height: 2.5rem;
  }
  content: "";
  display: block;
  height: 5rem;
}

.iconDiv {
  @include media("<=phone") {
    height: 0;
    margin: 1rem;
  }
  display: inline-block;
  margin: 2rem;
  height: 2rem;
}

.coursesText::after {
  content: "";
  display: block;
  height: 3.5rem;
}

.gitHubIcon {
  height: 3rem;
}

.gitHubIcon:hover {
  filter: brightness(1.1);
  scale: 1.1;
}

.gitText {
  @include media("<=phone") {
    letter-spacing: 6.75px;
    font-size: 12px;
  }
  letter-spacing: 9.75px;
  font-size: 13px;
  text-transform: uppercase;
}

.demoDiv {
  background-color: $color-div-background;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.projectImg {
  max-height: 100%;
  width: auto;
  box-shadow: 4px 4px 10px 0px #0000007a;
  transition: 200ms;
}

.projectImg:hover {
  filter: brightness(1.1);
  scale: 1.1;
  box-shadow: 6px 7px 3px 0px #0000007a;
}

ul::after {
  content: "";
  display: block;
  height: 3rem;
}

.textCV {
  display: inline-block;
  height: 3rem;
  vertical-align: text-bottom;
  margin: 0;
}

.iconCV {
  height: 4rem;
  margin: 0 1rem;
  transition: 200ms;
}

.iconCV:hover {
  filter: brightness(1.1);
  scale: 1.1;
}
